---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Blog</a>
<a href="/about/">Blog Practice</a>
<a href="/blog/">Blog</a>

        <h1>Entrada de Blog</h1>
        <h2>aqui va pura locura</h2>
      
        <p>A Emi le gusta hablar de muchas cosas raras</p>
      
        <p>Papa ama a Emi</p>
	</body>
</html>
